<%- include("header") -%>

<h2>this is the about page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis nam eum modi deserunt dolores ab illum nihil quo quam? Sunt, molestias a iure fugit aspernatur, voluptas asperiores sequi dolore minima tempora quod? Doloribus quod placeat accusamus voluptas. Earum nulla quo perferendis eum maiores laboriosam iusto similique, quam ullam atque sapiente corrupti nobis ab vero consequatur incidunt magni tempora. Veritatis illum veniam facilis autem, debitis et voluptatibus commodi magnam sunt qui!</p>

<%- include("footer") -%>
